# Getting data from Google Analytics API to pandas DataFrame

- gaapi4py [docs](https://pypi.org/project/gaapi4py/);
- Google Analytics [Dimensions & Metrics Explorer](https://developers.google.com/analytics/devguides/reporting/core/dimsmets);
- Link to article on medium [here](https://medium.com/@fatkhutdinov/%D1%8D%D0%BA%D1%81%D0%BF%D0%BE%D1%80%D1%82-%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85-%D0%B8%D0%B7-api-google-analytics-%D0%B2-pandas-dataframe-2b045cf47f20) (rus);
- Google API Console [link](https://console.developers.google.com/apis/dashboard).
- Google Analytics [link](https://analytics.google.com/analytics/).

Import modules.

In [8]:
from gaapi4py import GAClient
import pandas as pd

Open file with service data.

In [13]:
auth_key = GAClient('test-data-249108-ffb9e245cc23.json')

Creating request.

In [14]:
auth_key.set_view_id('164357052') # View ID
auth_key.set_dateranges('2019-01-01', '2019-01-31')

request_body = {
    'dimensions': {
        'ga:sourceMedium',
        'ga:date'
    },
    'metrics': {
        'ga:sessions'
    }
}

response = auth_key.get_all_data(request_body)

- response['info'] — meta-data,
- response['data'] — pandas DataFrame.

In [15]:
df = response['data']

*Example*.

In [16]:
df.head()

        sourceMedium      date sessions
0  (direct) / (none)  20190101       32
1  (direct) / (none)  20190102       39
2  (direct) / (none)  20190103       30
3  (direct) / (none)  20190104       52
4  (direct) / (none)  20190105       42